[jumpbox]
${jumpbox_dns}


[jumpbox:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no'

[web]
${app_server_dns}

[workers]
%{ for worker_dns in workers_dns ~}
${worker_dns}
%{ endfor ~}

[web:vars]
ansible_ssh_private_key_file=~/.ssh/oii-internal-key-rsa
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o ProxyCommand="ssh ec2-user@${jumpbox_dns} -i /home/ec2-user/.ssh/id_rsa -W %h:%p"'
ansible_ssh_user=ec2-user
ansible_user=ec2-user
